body {
    font-family: 'Titillium Web', sans-serif;
}

a {
    color: #56A750 !important;
    text-decoration: none !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
a:hover {
	color: #002393 !important;
	text-decoration: none !important;
}
.linkpoint:hover {
    cursor: pointer;
}

.modal-content, .card, .card-img-top {
    border-radius: 0 !important;
}
.card-body {
    font-size: 15px;
}

/* Title */
h3.title {
    font-size: 50px;
}
img.title {
    height: 45px;
}
p.title {
    font-size: 20px;;
}